.tab-container{
    padding: 1rem;
    border-bottom: 1px solid rgb(189, 188, 188);
    cursor: pointer;
}

.tab-container.active{
    background-color: rgb(226, 225, 225);
    border-right: 2px solid black;
}

.tab-container p{
    color: rgb(80, 80, 80);
    word-break: break-all;
}

.tab-container h2{
  font-weight: 400;
}